*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.shadow{
    position: absolute;
    margin-top: 40px;
    width: 365px;
    height: 590px;
    background-color: hsl(217, 50%, 10%);
    border-radius: 10px;
    box-shadow: hsl(216, 42%, 9%) 0px 10px 20px;
}

.container{
    width: 340px;
    height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
    z-index: 5;
}

image{
    width: 100%;
}

img{
    width: 305px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.info{
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
}

.info h1{
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.info p{
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 20px;
}

.pricetag{
    display: flex;
    gap: 5px;
    padding-bottom: 20px;
    border-bottom: 2px solid hsl(215, 32%, 27%);
}

svg{
    margin-top: 23px;
}

.clock{
    margin-top: 23px;
    margin-left: 90px;
}

#price{
    color: hsl(178, 100%, 50%);
}

.creator{
    display: flex;
    align-items: center;
    gap: 3px;
}

#avatar{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 25px;
    margin-left: 0;
    margin-right: 10px;
}

#name{
    color: white;
}

.attribution {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}